body {
    margin: 0 auto;
}

.flex-box {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-top: 10px;
}

.color {
    background-color: yellow;
}

.widthPic {
    width: 200px;
    height: auto;
}

#root {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.wrap-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-box {
    text-align: center;
    width: 300px;
}
